# dependencies
node_modules

# build output
dist
dist-ssr
dist_*
*.local

# TS build info
*.tsbuildinfo

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# stray temp files
*.tmp

# generated vite config output (from tsc -b)
vite.config.js
vite.config.d.ts
